.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: white;
}

.App-intro {
  font-size: large;
}

.tempBox {
  border: #222;
  border-style: solid;
}

/* .App-lander {
  background-color: rgb(170, 167, 167);
  height: 180px;
  padding: 20px;
  color: white;
  border: #222;
  border-style: solid;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
